body{
    background-image: url("./img/fond.png");   
    color: rgb(88, 110, 116);
    }
    *{
        margin:0;
        padding:0;
    }

header{
    text-align: center;
    background-color: rgb(52, 177, 178);
    margin-top:50px;
    border-top:5px solid rgb(43, 154, 160);
    border-bottom:5px solid rgb(43, 154, 160);
}

nav ul li{
    padding-bottom: 25px;
    display:inline-block;
    margin-right: 20px;   
}

a{
    text-decoration: none;
    color:white;
}

main{
    margin: 0 auto;
    min-width: 800px;
    max-width: 1100px; 
}

main h2{
    text-align: center;
    font-family: "Slabo 27px";
    margin: 25px 0;
    font-size: 2.5em;
}

.texte1{
    text-align: center;
    font-family: "Open Sans";
}

section{
    width: 65%;
    background-color: rgb(182, 222, 220);
    margin-top: 50px;
    margin-right:20px;
    display:inline-block;
    vertical-align: top;
}

h2{
    font-size: 3.5em;
}
span{
    color:rgb(43, 154, 160);
}

.article1 img{
    border-radius: 500px;
    float:left;
    margin: 0 20px;
}



.article2 img{
    border-radius: 500px;
    float:left;
    margin: 0 20px;
    
}


article p{
    margin-left:20px;
}

.article1{
    width:40%;
    display:inline-block;
}


.article2{
width:40%;
display:inline-block;
padding-left: 20px;
}

.article3 div{
padding: 20px 20px;
}

footer{
    text-align:center;
    font-size: 10px;
    width: 85%;
    margin: 0 auto; 
    margin-top:60px;
    max-width: 750px;
    line-height:15px;
  }


button{
    float:right;
    background-color: rgb(43, 154, 160);
    color:white;
    border-color:transparent;
    margin-right: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px 10px;
  }



.article3{
width:25%;
background-color: rgb(52,177,178);
border:10px solid rgb(43, 153, 160);
display:inline-block;
vertical-align: top;
margin-top:50px;
padding:20px 10px;
}

.fas fa-tint{
    color:rgb(52, 177, 178);
}

.fas fa-comment{
    color:rgb(182, 222, 220);
}

.article1 h3{
    text-align:center;
    margin-bottom:10px;
}

.article1 h2{
    text-align:center;
}


.article2 h3{
    text-align:center;
    margin-bottom:10px;
}

.article3 img{
    position: absolute;
    margin-left:220px;
    margin-top: -100px;
    
}

.article3 h3{
    margin-bottom:10px;
}

.article3 p {
    color:white;
    margin-bottom:10px;
}

.article3 span{
    color:white;
}

.article3 i{
    color: white;
}

section i{
    color:rgb(52,177, 178)
}